@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho::before {
    content: "";
    background-image: url('imagens/header.png');
    background-size: cover;
    filter: brightness(50%);
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
}

.menu > li > a {
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.conteudo > h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(209, 105, 8);
}

.conteudo > h2 {
    color: white;
}

.conteudo > p {
    color: white;
}

.conteudo {
    position: relative;
    z-index: 1;
}